.alert{
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  // z-indexプロパティは、ボックスの重なり順序を指定する際に使用します。 原則*としては、値が大きい要素ほど前面にきます。 ただしあくまでもこれは「原則」の話です。 後述するスタック文脈によって、単純に大きな値が指定されている要素が前面にくるわけではありません
}
